@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,600;0,700;0,800;0,900;1,200&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;

}

nav {
    background-color: #212121;
    color: #ffffff;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 15px;
    display: block;
}

nav a:hover {
    background-color: #555;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
}

h2 {
    color: #ffffff;
}

ul, ol {
    color: #ffffff;
}

footer {
    background-color: #212121;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
